<section class="main-content" *ngIf="(pokedex$ | async) as pokedex">
    <div class="pokemon-list-wrapper">
        <div class="pokemon-list-title">
            <h3>{{ (currentPokedex | async) | titlecase  }} Pokedex</h3>
        </div>
        <div class="form w-100">
            <div class="form-group d-flex w-100">
                <input 
                    type="text" 
                    class="form-control" 
                    [style.margin-right]="'0.5rem'" 
                    placeholder="Enter a pokemon name" 
                    [(ngModel)]="pokemonName"
                    [ngbTypeahead]="search"
                    (selectItem)="searchPokemon($event)"
                    [resultFormatter]="formatter"
                />
                <button 
                    class="btn btn-primary" 
                    [routerLink]="'/pokemon-detail/' + pokemonName"
                    [disabled]="pokemonName === ''"
                >
                    Search
                </button>
            </div>
        </div>
        <div *ngIf="(pokedex$ | async) as pokedex" class="d-flex flex-wrap justify-space-between">
            <div *ngFor="let entry of pokedex.pokemon_entries; index as i">
                <div class="d-flex flex-column text-center" [routerLink]="'/pokemon-detail/' + entry.pokemon_species.name">
                    <div class="transparent-overlay"></div>
                    <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + pokemonNationalDexNumber(entry) + '.png'" />
                    {{ entry.pokemon_species.name | titlecase }}
                </div>
            </div>
        </div>
    </div>
</section>

