@if (pokedex$ | async; as pokedex) {
    <section class="main-content">
        <div class="pokemon-list-wrapper">
            <div class="pokemon-list-title">
                <h3>{{ (currentPokedexName$ | async) | titlecase  }} Pokedex</h3>
            </div>
            <div class="form w-100">
                <div class="form-group d-flex w-100">
                    <input 
                        type="text" 
                        class="form-control" 
                        [style.margin-right]="'0.5rem'" 
                        placeholder="Enter a pokemon name" 
                        [(ngModel)]="pokemonName"
                        [ngbTypeahead]="search"
                        (selectItem)="searchPokemon($event)"
                        [resultFormatter]="formatter"
                    />
                    <button 
                        class="btn btn-primary" 
                        [routerLink]="'/pokemon-detail/' + pokemonName"
                        [disabled]="pokemonName === ''"
                    >
                        Search
                    </button>
                </div>
            </div>
            @if (pokedex$ | async; as pokedex) {
                <div class="d-flex flex-wrap justify-space-between mb-4 mt-3 w-100">
                    @for (entry of displayedPokemon; track entry; let i = $index) {
                        <div class="d-flex flex-column text-center" [routerLink]="'/pokemon-detail/' + entry.pokemon_species.name">
                            <div class="transparent-overlay"></div>
                            <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + pokemonNationalDexNumber(entry) + '.png'" />
                            {{ entry.pokemon_species.name | titlecase }}
                        </div>
                    }
                </div>
                <ngb-pagination
                    [collectionSize]="pokedex.pokemon_entries.length"
                    [page]="(currentPokedexPage$ | async) || 1"
                    [maxSize]="5"
                    [pageSize]="pageSize"
                    [rotate]="true"
                    [ellipses]="false"
                    [boundaryLinks]="true"
                    (pageChange)="pageChanged($event)"
                />
            }
        </div>
    </section>
}

