<div class="row pokemon-container">
    <div class="col-4 mb-3">
        <div class="sidebar">
            <app-region-picker></app-region-picker>
        </div>
    </div>
    <div class="col-8">
        <section class="main-content">
            <div class="pokemon-list-grid">
                <div class="pokemon-list-title">
                    <h3>Showing x Region Pokémon</h3>
                </div>
                <div class="form">
                    <div class="form-group">
                        <button class="btn btn-primary">Search</button>
                        <input type="text" class="form-control" placeholder="Enter a pokemon name" />
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
