<div>
    <div class="row">
        <div class="col home-container">
            <div class="home">
                <div class="landing-container">
                    <div class="col d-flex mb-3 flex-column">
                        <div>
                            <img src="https://fontmeme.com/permalink/220309/8c9ea455d30ca635b21150e846907f66.png" alt="pokemon-font" border="0" height="40%" width="100%" />
                            <small style="font-size: 8px">
                                Font provided by <a href="https://fontmeme.com/pokemon-font/">fontmeme.com</a>
                            </small>
                          </div>
                    </div>
                    <div class="form mb-2">
                        <label class="label-text mb-1">Start by searching for your favorite Pokémon!</label>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="ex: Pikachu"
                            [(ngModel)]="pokemonName"
                        />
                    </div>
                    <button class="btn btn-danger pr-2" (click)="search()">Search</button>
                    <button class="btn btn-dark" routerLink="/pokedex">View full Pokédex</button>
                </div>
            </div>
        </div>
    </div>
</div>