<div *ngIf="pokemonDetail.pokemon && pokemonDetail.pokemonSpecies" class="row detail-container">
    <div class="col detail-card">
        <div class="row detail-wrapper">
            <div class="row">
                <div class="col-6 pokemon-image">
                    <img [src]="pokemonDetail.pokemon.sprites.front_default" [height]="140" [width]="140" alt="pkmn-pic" />
                </div>
                <div class="col-6 pokemon-name-type">
                    <h4>{{ pokemonDetail.pokemon.name }}</h4>
                    <div class="d-inline-flex">
                        <div class="flex-row">
                            <span class="list-item" *ngFor="let type of pokemonDetail.pokemon.types; let isLast=last">
                                {{ type.type.name + (!isLast ? ',' : '') }}
                            </span>
                        </div>
                        <div class="divider">{{ '|' }}</div>
                        <p>
                            #{{ pokemonDetail.entryNumber }}
                        </p>
                    </div>
                    <div>
                        <p>{{ pokemonDetail.evolvesFrom }}</p>
                    </div>
                </div>
            </div>

            <section class="entry-section">
                <div class="col section-title">
                    <h6 *ngIf="pokemonDetail.genus">{{ pokemonDetail.genus.genus }}</h6>
                </div>
                <div class="col section-content">
                    <div>{{ pokemonDetail.flavorText }}</div>
                </div>
            </section>

            <section class="entry-section">
                <div class="col section-title">
                    <h6>Abilities</h6>
                </div>
                <div class="col section-content">
                    <div *ngFor="let ability of pokemonDetail.pokemon.abilities; let index=index; let isLast=last">
                        <span 
                            class="list-item" 
                            triggers="mouseenter:mouseleave"
                            [ngbPopover]="pokemonDetail.verboseEffects![index].effect" 
                        >
                            {{ ability.ability.name + (ability.is_hidden ? ' (Hidden)' : '') + (!isLast ? ',' : '') }}
                        </span>
                    </div>
                </div>
            </section>

            <section *ngIf="chartOptions && pokemonDetail.stats" class="entry-section stat-chart">
                <apx-chart
                    [series]="[{ name: 'Pokemon stat series', data: pokemonDetail.stats }]"
                    [chart]="chartOptions.chart!"
                    [xaxis]="chartOptions.xaxis!"
                    [title]="chartOptions.title!"
                    [plotOptions]="chartOptions.plotOptions!"
                    [legend]="chartOptions.legend!"
                    [tooltip]="chartOptions.tooltip!"
                    [colors]="chartOptions.colors!"
                ></apx-chart>
            </section>

            <section class="entry-section">
                <div class="col section-title">
                    <h6>Physical Traits</h6>
                </div>
                <div class="col-12 section-content">
                    <div class="col grid-block">
                        <p>{{ pokemonDetail.pokemon.height / 10 }}m</p>
                        <h6>Height</h6>
                    </div>
                    <div class="col grid-block">
                        <p>{{ pokemonDetail.pokemon.weight / 10 }}kg.</p>
                        <h6>Weight</h6>
                    </div>
                    <div class="col grid-block" id="last-col">
                        <p>{{ pokemonDetail.pokemon.base_experience }}</p>
                        <h6>Base Exp.</h6>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
