<app-loading-screen *ngIf="(loading$ | async)"></app-loading-screen>
<div *ngIf="(loading$ | async) === false">
    <div *ngIf="pokemon$ | async as pokemon" class="row detail-container">
        <div class="col detail-card">
            <div class="row detail-wrapper">
                <div class="row pb-3">
                    <div class="col-6 pokemon-image">
                        <img [src]="pokemon.sprites.front_default" [height]="140" [width]="140" alt="pkmn-pic" />
                    </div>
                    <div class="col-6">
                        <div class="pokemon-name-type">
                            <h4>{{ pokemon.name }}</h4>
                            <div class="d-inline-flex">
                                <div class="flex-row">
                                    <span class="list-item" *ngFor="let type of pokemon.types; let isLast=last">
                                        {{ type.type.name + (!isLast ? ',' : '') }}
                                    </span>
                                </div>
                                <div class="divider">{{ '|' }}</div>
                                <p>
                                    #{{ pokemonDetail.entryNumber }}
                                </p>
                            </div>
                        </div>
                        <ng-container *ngIf="pokemonDetail.evolvesFrom !== NOTHING; then showLink; else nothing"></ng-container>
                    </div>
                </div>
                
                <section class="entry-section">
                    <div class="col section-title">
                        <h6 *ngIf="pokemonDetail.genus">{{ pokemonDetail.genus.genus }}</h6>
                    </div>
                    <div class="col section-content">
                        <div>{{ pokemonDetail.flavorText }}</div>
                    </div>
                </section>

                <section class="entry-section">
                    <div class="col section-title">
                        <h6>Abilities</h6>
                    </div>
                    <div class="col section-content" *ngIf="pokemonDetail.verboseEffects">
                        <div *ngFor="let ability of pokemon.abilities; let index=index; let isLast=last">
                            <span 
                                class="list-item" 
                                triggers="mouseenter:mouseleave"
                                [ngbPopover]="pokemonDetail.verboseEffects[index] ? pokemonDetail.verboseEffects[index].effect : noAbilityInfo" 
                            >
                                {{ formatName(ability.ability.name) + (ability.is_hidden ? ' (Hidden)' : '') + (!isLast ? ',' : '') }}
                            </span>
                        </div>
                    </div>
                </section>

                <section *ngIf="chartOptions && pokemonDetail.stats" class="entry-section stat-chart">
                    <apx-chart
                        [series]="[{ name: 'Pokemon stat series', data: pokemonDetail.stats }]"
                        [chart]="chartOptions.chart!"
                        [xaxis]="chartOptions.xaxis!"
                        [title]="chartOptions.title!"
                        [plotOptions]="chartOptions.plotOptions!"
                        [legend]="chartOptions.legend!"
                        [tooltip]="chartOptions.tooltip!"
                        [colors]="chartOptions.colors!"
                    ></apx-chart>
                </section>

                <section class="entry-section">
                    <div class="col section-title pb-3">
                        <h6>Physical Traits</h6>
                    </div>
                    <div class="col-12 section-content">
                        <div class="col grid-block">
                            <p>{{ pokemon.height / 10 }}m</p>
                            <h6>Height</h6>
                        </div>
                        <div class="col grid-block">
                            <p>{{ pokemon.weight / 10 }}kg.</p>
                            <h6>Weight</h6>
                        </div>
                        <div class="col grid-block" id="last-col">
                            <p>{{ pokemon.base_experience }}</p>
                            <h6>Base Exp.</h6>
                        </div>
                    </div>
                </section>

                <section *ngIf="pokemonDetail.types" class="entry-section">
                    <div class="col section-title pb-2">
                        <h6>Damage Taken from Type</h6>
                    </div>
                    <div class="row">
                        <div class="row" style="max-width: 50%;" *ngFor="let damageTypeTaken of calculateDamageTaken(pokemonDetail.types)">
                            <div class="col-6">
                                <div style="text-transform: capitalize;">
                                    {{ damageTypeTaken.name }}
                                </div>
                            </div>
                            <div class="col-6">
                                {{ damageTypeTaken.multiplier }}x
                            </div>
                        </div>
                    </div>
                </section>

                <section class="entry-section">
                    <div class="col section-title">
                        <h6>Move Set</h6>
                    </div>
                    <div ngbAccordion [closeOthers]="true">
                        <div [ngbAccordionItem]="'move' + index" [destroyOnHide]="false" (shown)="fetchMoveData(index, move.move.name)" *ngFor="let move of pokemon.moves | slice:0:5; let index=index">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>{{ formatName(move.move.name) }}</button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                        <app-move-detail [id]="index" [moveName]="move.move.name" #moveDetail></app-move-detail>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pt-3">
                        <button class="btn btn-info" (click)="showMoveListModal(moveListModal)">View all moves</button>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<ng-template #showLink>
    <div *ngIf="pokemonDetail.evolvesFrom !== NOTHING">
        Evolves from 
        <a class="link-styles" [routerLink]="['/pokemon-detail', pokemonDetail.evolvesFrom]">{{ pokemonDetail.evolvesFrom }}</a>
    </div>
</ng-template>

<ng-template #nothing>
    <div style="font-size: 13px; text-align: center;">Doesn't evolve from anything</div>
</ng-template>

<ng-template #moveListModal let-modal>
    <div class="modal-header" >
        <h5 *ngIf="pokemonDetail.pokemon" class="modal-title">Moves that {{ pokemonDetail.pokemon.name }} can learn</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div *ngIf="moveData && pokemonDetail.pokemon" class="modal-body" style="background-color: #343a40;">
        <ngb-accordion [closeOthers]="true" #acc="ngbAccordion">
            <ngb-panel (shown)="fetchMoveData(index, move.move.name)" *ngFor="let move of (pokemon$ | async)?.moves; let index=index">
                <ng-template ngbPanelTitle>{{ formatName(move.move.name) }}</ng-template>
                <ng-template *ngIf="moveData && moveData.name === move.move.name" ngbPanelContent>
                    <app-move-detail></app-move-detail>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
    </div>
</ng-template>