.detail-container {
  height: 100%;
  max-width: 470px;
  margin: auto;
  padding-bottom: 30px;
}

.detail-card {
  background-color: white;
  height: 75%;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.detail-wrapper {
  padding: 20px 10px 10px;
  height: 100%;
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

#last-col {
  border-right: none;
}

.entry-section {
  margin-bottom: 30px;
  width: 100%;
}

.grid-block {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

#stat-2, #stat-5 {
  border-right: none;
}

.list-item {
  padding-right: 5px;
  text-transform: capitalize;
  height: 100%;
}

.pokedex-entry {
  margin-bottom: 10px;
}

.pokemon-image {
  text-align: center;
}

.pokemon-name-type {
  text-align: center;
  padding-top: 10px;
  text-transform: capitalize;
}

.section-content {
  display: inline-flex;
  flex-wrap: wrap;
}

.type-img {
  height: 100%;
  width: 56px;
  border-radius: 15px;
  padding-bottom: 5px;
}

.divider {
  margin-left: 10px;
  margin-right: 15px;
}

.link-styles {
  color: rgba(255, 255, 255, 0.8);
  text-transform: capitalize;
}

ngb-accordion {
  ::ng-deep {
    div.accordion-item {
      background-color: #292929 !important;
      border: none;
      border-bottom: 1px solid rgba(143, 143, 143, 0.8) !important;
      color: rgba(255, 255, 255, 0.8);

      ::ng-deep {
        div.accordion-header {
          ::ng-deep {
            button.accordion-button {
              background-color: #343a40 !important;
              color: rgba(255, 255, 255, 0.8);
              padding: .75rem .5rem;
            }
          }
          ::ng-deep {
            button.accordion-button::after {
              background-image: url('../../assets/images/white-down-arrow.png');
            }
          }
        }
      }
    }
  }
}