<div *ngIf="pokemon" class="row detail-container">
    <div class="col detail-card">
        <div class="row detail-wrapper">
            <div class="row">
                <div class="col-6 pokemon-image">
                    <img [src]="pokemon.sprites.front_default" [height]="140" [width]="140" alt="pkmn-pic" />
                </div>
                <div class="col-6 pokemon-name-type">
                    <h4>{{ pokemon!.name }}</h4>
                    <div class="d-inline-flex">
                        <div class="flex-row">
                            <span class="list-item" *ngFor="let type of pokemon.types; let isLast=last">
                                {{ type.type.name + (!isLast ? ',' : '') }}
                            </span>
                        </div>
                        <div class="divider">{{ '|' }}</div>
                        <p *ngIf="entry">
                            #{{ entry.entry_number }}
                        </p>
                    </div>
                    <div *ngIf="pokemonSpeciesData">
                        <p>{{ evolvesFrom }}</p>
                    </div>
                </div>
            </div>

            <section class="entry-section">
                <div class="col section-title">
                    <h6 *ngIf="genus">{{ genus.genus }}</h6>
                </div>
                <div class="col section-content">
                    <div>{{ flavorText }}</div>
                </div>
            </section>

            <section class="entry-section">
                <div class="col section-title">
                    <h6>Abilities</h6>
                </div>
                <div class="col section-content">
                    <div *ngFor="let ability of pokemon.abilities; let index=index; let isLast=last">
                        <span 
                            class="list-item" 
                            triggers="mouseenter:mouseleave"
                            [ngbPopover]="abilityDescriptions[index].effect" 
                        >
                            {{ ability.ability.name + (ability.is_hidden ? ' (Hidden)' : '') + (!isLast ? ',' : '') }}
                        </span>
                    </div>
                </div>
            </section>

            <section class="entry-section stat-chart">
                <apx-chart
                    [series]="chartOptions.series!"
                    [chart]="chartOptions.chart!"
                    [xaxis]="chartOptions.xaxis!"
                    [title]="chartOptions.title!"
                    [plotOptions]="chartOptions.plotOptions!"
                    [legend]="chartOptions.legend!"
                    [tooltip]="chartOptions.tooltip!"
                    [colors]="chartOptions.colors!"
                ></apx-chart>
            </section>

            <section class="entry-section">
                <div class="col section-title">
                    <h6>Physical Traits</h6>
                </div>
                <div class="col-12 section-content">
                    <div class="col grid-block">
                        <p>{{ pokemon.height / 10 }}m</p>
                        <h6>Height</h6>
                    </div>
                    <div class="col grid-block">
                        <p>{{ pokemon.weight / 10 }}kg.</p>
                        <h6>Weight</h6>
                    </div>
                    <div class="col grid-block" id="last-col">
                        <p>{{ pokemon.base_experience }}</p>
                        <h6>Base Exp.</h6>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
